.opcao1{background-color: #ccfcfc ;}
.opcao2{background-color: #fa87eebf;}
.opcao3{background-color: #b8f2b2 ;}
.opcao4{background-color: #eca0a0c0 ;}
.opcao5{background-color: #cb7fd5ab ;}
.opcao6{background-color: #77c7c4a6 ;}
.opcao7{background-color: #fff15ba6 ;}
.opcao8{background-color: #eb87afb4 ;}
.opcao9{background-color: #d4e6adcb ;}
.opcao10{background-color: #bfefff ;}

.formsselect{
    max-height: 10em;
}
.formsselectbig{
    max-height: 20em;
}

.graficos{
    max-height: 30em;
}