a{color: rgb(58, 58, 58);}
a:hover{color: rgb(21, 21, 21)}

.edit{color: #3a3a3a;}
.edit:hover{color: rgb(21, 21, 21)}

.trashcan{color: rgb(255, 34, 34);}
.trashcan:hover{color: rgb(180, 0, 0);}

.formsDuplicatesBG{
    background-color: #cdcdcd;
}

.addFormButton:hover{
    background-color: #ffff00;
    border: #ffa564 solid 1px;
}

.listitem::before{
    margin-right: 4px;
    color: #969696;
}

.configitem{
    padding-right: 5px;
}