a{color: rgb(58, 58, 58);}
a:hover{color: rgb(21, 21, 21)}

.edit{color: #3a3a3a;}
.edit:hover{color: rgb(21, 21, 21)}

.trashcan{color: rgb(255, 34, 34);}
.trashcan:hover{color: rgb(180, 0, 0);}

.formsDuplicates{
    color: rgb(26, 26, 26);
    background-color: #ffffe6;
}

.addFormButton:hover{
    background-color: #ffff00;
    border: #ffa564 solid 1px;
}