.edit{color: rgb(58, 58, 58);}
.edit:hover{color: rgb(21, 21, 21)}

.trashcan{color: rgb(255, 34, 34);}
.trashcan:hover{color: rgb(180, 0, 0);}

.numQuestao{
    color: rgb(34, 34, 34);
    box-shadow: none;
    border: #aeaeae solid 1px;
}
.numQuestao:hover{
    border: #ffa564 solid 1px;
    background-color: #fffff6;
}
.numQuestao:disabled{
    background-color: #e7e7e7;
    border: #aeaeae solid 1px;
}

.textAreaEnunciado{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 0.97em;
}

.borda-direita{
    border: 1px solid rgb(187, 187, 187);
    border-radius: 0px 5px 5px 0px;
}
.borda-esquerda{
    border: 1px solid rgb(187, 187, 187);
    border-right: none;
    border-radius: 5px 0px 0px 5px;
}

.porcentagem{
    color: rgb(34, 34, 34);
    display: inline;
    word-break: break-all;
    font-size: 1em;
}
.destinatarioBotoes:hover{
    background-color: #ffff00;
    border: #ffa564 solid 1px;
}

.greenicon{
    color: rgb(25, 213, 25)
}

.form-check-inline{
    margin-right: 0.5em;
}

.list-group-item{
    padding-right: 1em;
    padding-left: 1em;
}

.pages:hover{
    background-color: #ffa5647a;
    cursor: pointer;
}

.novoDestinatarioForm{
    color: rgb(34, 34, 34);
    background-color: #ffffff;
    box-shadow: none;
    border: #aeaeae solid 1px;
}

.addQuestao{
    margin-left: 0.1em;
}

.selectCurso{
    color: #222222;
    border: #aeaeae solid 1px;
    border-radius: 0em 5px 5px 0em;
    padding-left: 0.3em;
    font-size: 1em;
}

.dataRelatorios{
    color: #222222;
    border: #aeaeae solid 1px;
    border-radius: 5px;
    padding-left: 0.3em;
    font-size: 1em;
}

.opcao1{background-color: #ccfcfc ;}
.opcao2{background-color: #fa87eebf;}
.opcao3{background-color: #b8f2b2 ;}
.opcao4{background-color: #eca0a0c0 ;}
.opcao5{background-color: #cb7fd5ab ;}
.opcao6{background-color: #77c7c4a6 ;}
.opcao7{background-color: #fff15ba6 ;}
.opcao8{background-color: #eb87afb4 ;}
.opcao9{background-color: #d4e6adcb ;}
.opcao10{background-color: #bfefff ;}

.shadow{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 0.1px 0.1px, rgba(0, 0, 0, 0.053) 0px 0.1px 0.1px;
}

.ovHidden{
    overflow: hidden;
}

.inputnumero{
    border: #000000 solid 1px;
    border-radius: 5px;
    background-color: white;
}

@media screen and (min-width:280px) {
    .novoDestinatarioCurso{width: 70%;}
    .novoDestinatarioSexo{width: 75%;}
    .novoDestinatarioModalidade{width: 45%;}
}
@media screen and (min-width:400px) {
    .novoDestinatarioCurso{width: 82%;}
    .novoDestinatarioSexo{width: 85%;}
    .novoDestinatarioModalidade{width: 66%;}
}
@media screen and (min-width:600px) {
    .novoDestinatarioCurso{width: 89%;}
    .novoDestinatarioSexo{width: 90%;}
    .novoDestinatarioModalidade{width: 79%;}
}
@media screen and (min-width:768px) {
    .novoDestinatarioCurso{width: 83%;}
    .novoDestinatarioSexo{width: 85%;}
    .novoDestinatarioModalidade{width: 68%;}
}