/* RAEG-EPT */
.logo{
    width: 187px;
}
.logo_desc{
    display: none;
}
.logo_line{
    display: none;
}

@media (min-width: 473px) {
    .logo{
        width: 349px;
    }
    .logo_desc{
        display: inline-block;
    }
    .logo_line{
        display: inline-block;
    }
}