body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background: #f0f2f5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    white-space: nowrap;
}
a:hover{
    cursor: pointer;
}
i:hover{
    cursor: pointer;
}
main{
    margin-bottom: 5em;
}

.zoom{
    transition:font-size .2s;
    display: block;
    max-width: 70em;
    overflow:auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.overflowSemBarra{
    overflow:auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.overflowSemBarra::-webkit-scrollbar {
    display: none;
}

.zoom::-webkit-scrollbar {
    display: none;
}
.zoom:hover{
    font-size: 1.2em;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: #00284eb8;
}

::-webkit-scrollbar-track {
    background: rgba(54, 54, 54, 0.205);
}